/* style du formulaire de contact */

#contact {
	padding: 100px 30px 0 30px;
}

/* style du bouton */

#contact .btn {
	border-radius: 0;
	margin-bottom: 15px;
}

/* style des champs */

#contact .form-control {
	border-radius: 0;
}
#contact textarea {
	width: 100%;
	height: 120px;
	resize: none;
}

/* style des colonnes */

#contact > .row:nth-child(2) > .col-md-4 {
	padding-left: 30px;
	padding-right: 30px;
}

/* style du texte */
#contact h2 {
	margin-bottom: 30px;
	font-size: 2em;
	font-weight: 700;
}
#contact label {
	font-size: 1.3em;
}
#contact .form-control,
#contact .checkbox label {
	font-size: 1.2em;
}
