
.block_1{
  margin-top: 110px;
}


.bg-default {
	padding: 100px 0;
}

.mid-text {
	margin: auto;
	float: none;
}

/*arrière plan Nos services*/
.bg-primary {  
	padding: 150px 0;
	
  background-image: url(img/carous.jpg); ;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
 background-color: #A47CFE; /*autour image arr plan*/
}
.bg-primary p{/*paragraphe description "Fedala Deco traiteur" Plus parag "Nos Services"*/
  margin-top: 50px;
  font-family: 'Roboto';
  color :black;
  background-color: pink;
}


.parallax-window {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.mid-text h1 {/*?*/
  padding: 0 0 10px 0;
  font-size: 60px;
font-family: 'Great Vibes';
color : blue;
text-shadow : 2px 2px 2px fuchsia;
background-color: #A47CFE;
}

.mid-text {
  width : 500px;
  border-radius: 15px; 
}

/*"cliquez sur une image ..."*/
.bg-primary h2 {
  padding: 30px 0 30px 0;
  font-weight: 700;
  font-family: 'Great Vibes', cursive;
  color : black;
  background-color: #A47CFE;
  font-size: 25px;
}

h2 {/*?*/
  padding: 0 0 30px 0;
  color: lime;
  font-family: 'Great Vibes', cursive;
}

h3 {/*Nos Services*/
  font-size: 70px;
  width: 550px;
font-family: 'Great Vibes', cursive;
color : black;
background-color: #A47CFE;
}

.well-h3 {/*titre "Nos Services"*/
  font-family: "Roboto";
  font-style: italic;
  /*color : grey;*/
  text-shadow: 2px 2px 4px white;
  /*background-image: url(img/contact-bg.jpg);*/
  background-attachment: fixed;
  background-color: #A47CFE;
  padding: 15px 0;
  text-align: center;
  border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
}

p {/*paragraphes sous 3-photos et sou services*/
  font-family: "Roboto";
  font-size: 25px;
  color: black;
  font-style: italic;
  background-color: #A47CFE;
}

.bg-default h1 {
  color : red;
  padding-top: 55px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
}

.pic {
  width: 250px;
  height: 200px;
}

.pad {
  padding: 0 50px;
}
/*bloc image à droite de "Nos Services"*/
.bloc-img {
  width: 545px;
  height: 445px;
  padding-right: 15px;
  padding-top: 15px;
 background-color: #A47CFE;
  margin-top: -55px;
  
  border-bottom-left-radius: 25px;
}

.col-md-6 {
  padding: 0;
}

.effect {
  width: 250px;
  height: 200px;
  background: #e97f8e;
  position: relative;
  margin-bottom: 15px;
}

.effect:hover img {
  opacity: 0.3;
  transition: all 0.50s;
}

.effect:hover .overlay {
  opacity: 1;
}

.overlay {/*?*/
  width: 250px;
  height: 200px;
  display: block;
  position: absolute;
  text-align: center;
  overflow: hidden;
  opacity: 0;
  padding-top: 75px;
  font-size: 45px;
}

.carous-text {
  font-family: 'Roboto';
  font-style: italic;
  margin: auto;
  text-align: center;
  color: black;
  font-size: 50px;
  /*font-weight: bold;*/
}

.carous-text-name {
  margin: auto;
  text-align: right;
  color: black;
  font-size: 50px;
  font-weight: bold;
}

.carous-inner2 {
  height: 200px;
}



/*ajout hover*/

.img-container {
  position: relative;
}

.img-left-background,
.img-center-background,
.img-right-background {
  position: absolute;
  z-index: -1;
  min-height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 2s;

}

.img-left-background {
  background-image: url(img/header-location.jpg);
}

.img-center-background {
  background-image: url(img/img-1.jpeg);
}

.img-right-background {
  background-image: url(img/contact-bg.jpg);
}

.img-foreground {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entre {/* 3 images haut de page*/
    width: 80%;
    height: 70px;
    background-color: pink;rgba(0,0,0,0.65)
    opacity : 0.65;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Roboto', italic;
    font-style: italic;
    text-shadow : 2px 2px 2px fuchsia;
    color : blue;
}

/*
.centrage {
    display: flex;
    align-items: center;
    justify-content: center;
}*/


/*? un de plus ...*/

/*.bg-mid {
	background-image: url(img/header4.jpg);
  background-size: cover;
  background-position: 25% 30%;
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
}*/

/*.bg-last {
  background-image: url(img/footer.jpg);
  background-size: cover;
  background-position: 25% 30%;
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

/*.bg-white {
  width: 100%;
  height: 10px;
}*/
