/* formulaire de contact - image de fond */
#contact {
	position: relative;
}
#contact > div:first-child {
	position: absolute;
	height: 100%;
	min-height: 800px;
	background-attachment: fixed;

	background-size: cover;
}

/* formulaire de contact - positionnement et fond assombri */
#contact > div:last-child {
	margin: 150px 0 0 0;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgba(0,0,0,0.5);
}

/* formulaire de contact - alignement des éléments de droite */
#contact div > div:last-child {
	height: 100%;
	min-height: 400px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#contact div > div:last-child img {
	height: 50%;
	max-height: 256px;
	margin-top: -50px;
background-color: red;
opacity: 0.1;

}

/* formulaire de contact - format du bouton d’envoi */
#contact button {
opacity: 0.2;
	background-color: rgba(0,0,0,0.8);
	font-size: 3em;
	border-radius: 0;
	font-family: "sans";
	font-weight: 300;
}

/* formulaire de contact - format des champs */
#contact .form-control {
	
	/*border-radius: 0;*/
	border: 1px ridge fuchsia;
	background-color: rgba(255,255,255,0);
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25%;
	font-size: 1.5em;
	height: 150%;
}
