/* barre de navigation */

.navbar-default,
.navbar-default.scroll {
	background-color: black;/*rgba(138, 129, 175, 0.7)*/
}

.navbar-default .navbar-header .navbar-brand,
.navbar-default .navbar-header .navbar-brand.scroll,
.navbar-default .nav > li > a,
.navbar-default .nav > li > a.scroll {
	color: red;#FFF
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:hover.scroll,
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:hover.scroll {
	color: #333;
}

.navbar-default,
.navbar-default .navbar-header .navbar-brand,
.navbar-default .nav > li > a:hover {
	transition: all 0.50s;
}

.navbar-default {
	padding: 15px 0;
	border: none;
}

.navbar-default.scroll {
	padding: 0;
}

.navbar-default .navbar-header .navbar-brand {
	font-weight: 700;
	font-size: 30px;
}

.navbar-default .navbar-header .navbar-brand.scroll {
	font-size: 25px;
}

.navbar-default .nav > li > a {
	font-size: 19px;
	font-weight: 500;
}

.nav-middle {
	padding: 0 0 0 5%;
}

.navbar-right {
	float: right;
	margin-right: 0;
}
